<!DOCTYPE html>
{% load static %}
<html lang="en">
<style>
    .modal1{
        text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="modal1">
      <div class="title">Cart:</div>
      {% for product in products %}
      <div class="row">
        <div class="col-12">
          <div class="item">
            <div class="box">
              <div class="box__img"> <img class="img" src="/media/{{ product.image }}" alt=""></div>
              <div class="box__content">
                <div class="box__title"> {{ product.title }}</div>
                <div class="box__text"> {{ product.description }}</div>
                <div class="box__const">
                  <div class="box__cost"> {{ product.price }} UZS    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="total">
        <div class="title">Итого:</div>
        <div class="cost">23,500 <span>UZS</span></div>
      </div>
      <div class="buttons">
        <button class="clear"><a href="{% url 'index' %}"> Очистить</a></button>
          {% if  request.user.is_anonymous %}
             <button class="order"><a href="{% url 'sign_in' %}"> Заказать</a></button>
          {% else %}
             <button class="order"><a href="{% url 'order' %}"> Заказать</a></button>
          {% endif %}
      </div>
    </div>
</body>
</html>